*{margin:0;padding:0;font-family: "微软雅黑";}
label {
	margin-left:200px;
}
input {
	margin-left:10px;
	border:1px solid rgb(204, 118, 216);
	border-radius:10px;
}

button {	
	margin-left:100px;
	font-size:18px;
	height:55px;
	width:55px;
	background-color: rgb(105, 244, 198);
	border:none;
	border-radius:55px;
	cursor:pointer;
}
button#add-child {	
	width:100px;
	border-radius:25px;
}
button#add-sibling {	
	width:120px;
	border-radius:25px;
}
fieldset {
	margin-left:130px;
	margin-top:30px;
	width:1400px;	
	height:80px;
	border-radius:20px;
}

button:hover{
	border:2px solid #e66da0;
}

#main {
	margin-left:130px;
	margin-top:30px;
	cursor:pointer;
}
#tips {
	color:rgb(192, 44, 56);
	font-size:20px;
	opacity:0.5;
}