*{margin:0;padding:0;font-family: "微软雅黑";}

div {
	display:flex;
	border:1px solid black;
	justify-content: space-around;
	align-items: center;
}

div#div-one {
	height:250px;
	width:84%;
	margin-left:8%;
	margin-top:50px;
}

div.div-two {
	height:200px;
	width:38%;	
}

div.div-three {
	height:200px;
	width:15%;	
}

div.div-four {
	height:150px;
	width:45%;	
}

div.div-five {
	height:150px;
	width:20%;	
}

div.div-six {
	height:100px;
	width:18%;	
}

div.div-seven {
	height:50px;
	width:30%;	
}
span {
	display:box;
	align-self: flex-start;
}

label {
	margin-left:20%;
}

input {
	border:1px solid rgb(204, 118, 216);
	border-radius:10%;
}
button {
	margin-left:30px;
	margin-top:50px;	
	height:50px;
	width:100px;
	background-color: rgb(105, 244, 198);
	border:1px solid rgb(105, 244, 198);
	border-radius:10%;
	cursor:pointer;
}

button:hover{
	background-color: yellow;
}