html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
/*=====body=======================*/
body {
	margin-left:15%;
	margin-right:15%;
	background-color:#e8eded;
}
/*-----section------*/
